@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo {
    height: 50px;
    width: 100px;

}

.logo {
    background-image: url("image/mainAmazon.png");
    background-size: cover;
    height: 40px;
    width: 100%;
}
.nav-signin a{
    text-decoration: none;
    color: white;

}
.border {
    border: 2px solid transparent !important;
    padding: 3px;

}

.border:hover {
    border: 2px solid white !important;

}


/* box - 2  */
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
}

/* box- 3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 777px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 45px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon {
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    background-color: #febd68;
    color: #0f1111cd;
    border-top-right-radius: 4px;
    cursor: pointer;
    border-bottom-right-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
    border-radius: 4px;
}


/* nav-lang  */

.nav-lang {
    display: flex;
}

.nav-lang img {
    height: 30px;
}
.lag-select{
    position: relative;

}
.nav-lang select {
    display: none;
    color: white;
    background-color: transparent;
    border: none;
    font-weight: 700;
    margin-top: 30%;

}

.nav-lang option {
    color: #0F1111;
}



/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: transparent;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: white;
    cursor: pointer;
    margin-top: 14%;
  }
  
  /* Style items (options): */
 

  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

/* box- 4 */


span {
    font-size: 0.7rem;

}

.nav-sec {
    font-size: 0.85rem !;
    font-weight: 700;
}

/* box - 5 */
.nav-cart i {
    font-size: 40px !important;
}

.nav-cart {
    font-size: 0.84rem !important;
    font-weight: 700 !important;
}
.nav-card a{
    text-decoration: none;
    color: white;
}

/* Panel  */

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #f3f3f3;
}

.panel-option p {
    display: inline;
    margin-left: 14px;
}
.panel-option a{
    text-decoration: none;
    color: white;
}
.panel-option {
    width: 70%;
    font-size: 0.84rem;
}

.panel-deals {
    font-size: 1rem;
    font-weight: 700;
}
.panel-deals a{
    text-decoration: none;
    color: white;
}

/* hero-section  */

.hero-section {
    background-image: url("image/Amazon-first.jpg");
    height: 280px;
    background-size: cover;
}

/* shop-section  */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(247, 239, 225, 0.803);
}

.box {
    /* border: 2px solid red; */
    height: 27rem;
    width: 24%;
    background-color: whitesmoke;
    padding: 20px 0px 15px;
    margin-top: 14px;
}

.box-img {
    height: 19rem;
    margin: 10px 10px 10px 0px;
    background-size: cover;

}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content a{
    text-decoration: none;
    
}
.box-content p {
    color: #007185;
}

/* Footer */
footer {
    margin-top: 16px;
}

.foot-panel1 {
    color: #f3f3f3;
    background-color: #37475a;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.87rem;
}
.foot-panel1 a{
    text-decoration: none;
    color: white;
}

.foot-panel2 {
    background-color: #222f3d;
    text-decoration: none;
    color: white;
    height: 330px;
    display: flex;
    justify-content: space-evenly;
}
.foot-panel2 a{
    text-decoration: none;
}
.foot-panel2 a:hover{
    text-decoration: underline;
}



ul {
    margin-top: 2.6rem;
}

ul a {
    font-size: small;
    margin-top: 10px;
    display: block;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.2px solid white;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("image/mainAmazon.png");
    background-size: cover;
    height: 40px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0F1111;
    color: white;
    font-size: 0.72rem;
    text-align: center;
    height: 100px;
}
.pages a{
    text-decoration: none;
    color: white;
    
}
.pages a:hover{
    text-decoration: underline;
}


.pages {
    padding-top: 24px;
    
}

.copy-right {
    padding-top: 10px;
}